[submodule "flatbuffers"]
	path = flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "z85"]
	path = z85
	url = https://github.com/artemkin/z85.git
[submodule "xxHash"]
	path = xxHash
	url = https://github.com/ceph/xxHash.git
